# === Database Configuration ===
SPRING_DATASOURCE_URL=jdbc:postgresql://<host>:<port>/<database_name>   # e.g. jdbc:postgresql://postgres:5432/gotrash
SPRING_DATASOURCE_USERNAME=<your_database_username>                     # e.g. application
SPRING_DATASOURCE_PASSWORD=<your_database_password>                     # e.g. application

# === JWT Configuration ===
JWT_SECRET_KEY=<your_secret_key>                                        # Use a strong random string, you can use this website to generate jwt secret key https://jwtsecret.com/generate
JWT_EXPIRATION=<expiration_in_milliseconds>                             # e.g. 86400000 (1 day)

# === FRONTEND_ORIGINS ===
FRONTEND_ORIGINS=<your_frontend_origins>                                # e.g. http://localhost:5173,http://localhost:5174
